@{
    ViewData["Title"] = "Ts Payment 💰";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ts Payment 💰</title>
    <link href="https://fonts.googleapis.com/css2?family=Harmattan&display=swap" rel="stylesheet">
    <style>
        body {
            background-color: black;
            font-family: 'Harmattan', sans-serif;
            color: darkorange;
        }

        .text-center {
            text-align: center;
        }

        .button {
            border: none;
            padding: 16px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            transition-duration: 0.4s;
            cursor: pointer;
            background-color: white;
            color: black;
            border: 2px solid;
            border-color: black;
            border-radius: 20px;
            font-size: 20px;
        }

            .button:hover {
                background-color: darkorange;
                color: white;
            }
    </style>
</head>

<body>

    <div class="text-center">
        <h1 dir="rtl">درگاه پرداخت ربات Task System 💰</h1>
        <p>برای استفاده و پرداخت از طریق درگاه لطفا به ربات تلگرام مراجعه کنید.</p>
        <a href="https://t.me/tspaybot" class="button">ربات تلگرام جهت پرداخت</a>

        <p style="margin-top: 50px; color:white;"><b>Made with <span style="color: darkred">❤</span> by tsww</b></p>
    </div>

</body>
</html>
